<form role="form" class="form-horizontal" id="group-form-data">

    <div class="form-group">
        <label for="group_name" class="col-lg-4 control-label">Group Name</label>
        <div class="col-lg-8">
            <input type="text" class="input-sm form-control validate[required]" name="name" id="group_name" placeholder="Enter Group Name">
        </div>
    </div>

    <div class="form-group">
        <label for="permission" class="col-lg-4 control-label">Permissions</label>
        <div class="col-lg-8">
            <textarea rows="10" class="input-sm form-control validate[required]" name="permissions" id="group_permissions" placeholder="Add permissions..."></textarea>
        </div>
    </div>
</form>