{% extends 'admin/index.twig' %}
{% block content %}
<div class="row page-header-box">
    <div class="col-xs-10">
        <h3>{{ title }}</h3>
    </div>
    {% if canCreate %}
        <div class="col-xs-2">
            <a href="#" id="btn-group-add" class="btn btn-success btn-sm pull-right"><i class="fa fa-plus"></i> Add Group</a>
        </div>
    {% endif %}
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Group Name</th>
                        <th>Permissions</th>
                        <th style="width:15%" class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody id="group-table">
                    {% for group in groups %}
                    <tr id="group-row-{{ group.id }}">
                        <td>{{ group.id }}</td>
                        <td>{{ group.name }}</td>
                        <td>{{ group.permissions }}</td>
                        <td class="text-center">
                            {% if canUpdate %}
                                <a data-id="{{ group.id }}" class="btn btn-xs btn-primary btn-group-edit" href="#"><i class="fa fa-edit fa-fw"></i>Edit</a>
                            {% endif %}
                            {% if canDelete %}
                                <a data-id="{{ group.id }}" class="btn btn-xs btn-danger btn-group-delete" href="#"><i class="fa fa-times fa-fw"></i>Remove</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="group-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modal-title">Group Form</h4>
            </div>
            <div class="modal-body">
                {% include '@usergroup/group/form.twig' %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success btn-sm" id="btn-group-save" data-method="POST">Save</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}