<form role="form" class="form-horizontal" id="auth-form-data" method="POST" action="{{ submit_url }}">
    <div class="form-group">
        <label for="first_name" class="col-lg-4 control-label">First Name</label>
        <div class="col-lg-8">
            <input type="text" class="input-sm form-control validate[required]" name="first_name" placeholder="First Name">
        </div>
    </div>

    <div class="form-group">
        <label for="last_name" class="col-lg-4 control-label">Last Name</label>
        <div class="col-lg-8">
            <input type="text" class="input-sm form-control validate[required]" name="last_name" placeholder="Last Name">
        </div>
    </div>

    <div class="form-group">
        <label for="email" class="col-lg-4 control-label">Email</label>
        <div class="col-lg-8">
            <input type="text" class="input-sm form-control validate[required]" name="email" placeholder="Login Email">
        </div>
    </div>

    <div class="form-group">
        <label for="password" class="col-lg-4 control-label">Password</label>
        <div class="col-lg-8">
            <input type="password" class="input-sm form-control validate[required,minSize[6],maxSize[50]]" name="password" id="password" placeholder="Password">
        </div>
    </div>

    <div class="form-group">
        <label for="confirm_password" class="col-lg-4 control-label">Confirm Password</label>
        <div class="col-lg-8">
            <input type="password" class="input-sm form-control validate[required,equals[password]]" name="confirm_password" id="confirm_password" placeholder="Confirm password">
        </div>
    </div>
    <div class="form-group">
        <label for="submit" class="col-lg-4 control-label"></label>
        <div class="col-lg-8">
            <input class="form-control btn btn-success btn-md" type="submit" value="Submit" />
        </div>
    </div>
</form>