{% extends 'master.twig' %}

{% block body %}
	<div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                {% if flash.error %}
                <div class="alert alert-danger alert-dismissable" style="margin-top: 25px">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    {{ flash.error }}
                </div>
                {% endif %}
                {% if flash.success %}
                <div class="alert alert-success alert-dismissable" style="margin-top: 25px">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    {{ flash.success }}
                </div>
                {% endif %}
                <div class="login-panel panel panel-default" style="margin-top:40px">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Sign In</h3>
                    </div>
                    <div class="panel-body">
						{% include '@usergroup/auth/form.twig' %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
