{% extends 'master.twig' %}

{% block body %}
	<div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                {% if flash.error %}
                <div class="alert alert-danger alert-dismissable" style="margin-top: 25px">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    {{ flash.error }}
                </div>
                {% endif %}
                {% if flash.success %}
                <div class="alert alert-success alert-dismissable" style="margin-top: 25px">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    {{ flash.success }}
                </div>
                {% endif %}
                {{ flash.code }}
                <div class="login-panel panel panel-default" style="margin-top:40px">
                    <div class="panel-heading">
                        <h3 class="panel-title">Choose a new Password</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" class="form-horizontal" id="auth-form-data" method="POST" action="{{ submit_url }}">
                            <input type="hidden" name="code" value="{{ code }}" />
                            <div class="form-group">
                                <label for="password" class="col-lg-4 control-label">Password</label>
                                <div class="col-lg-8">
                                    <input type="password" class="input-sm form-control validate[required,minSize[6],maxSize[50]]" name="password" id="password" placeholder="Password">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="confirm_password" class="col-lg-4 control-label">Confirm Password</label>
                                <div class="col-lg-8">
                                    <input type="password" class="input-sm form-control validate[required,equals[password]]" name="confirm_password" id="confirm_password" placeholder="Confirm password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="submit" class="col-lg-4 control-label"></label>
                                <div class="col-lg-8">
                                    <input class="form-control btn btn-success btn-md" type="submit" value="Submit" />
                                </div>
                            </div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}